<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel = "stylesheet" href="/css/styles.css">
</head>

<style> 
   .tiltle{
    font-size: 25;
    FONT-WEIGHT: 600;
    border-left: 10px;
   } 


    .table-container {
        padding: 15px 20px;
    }
    table {
    
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  tr:hover {background-color: #ccc;}
  </style>


<body>
    <div class="topnav">
        <a class="active href="/">Home</a>
        <a href="/create"  >Creat User</a>
      </div>
      <div class= "table-container" >
        <div class = "tilte"> List Users</div>
      
           
      <table>
        <tr>
          <th>ID</th>
          <th>Email</th>
          <th>Name</th>
          <th>City</th>
        </tr>
        <tr>
          <td>Peter</td>
          <td>Griffin</td>
          <td>$100</td>
          <td>$100</td>
        </tr>
        <tr>
          <td>Lois</td>
          <td>Griffin</td>
          <td>$150</td>
        </tr>
        <tr>
          <td>Joe</td>
          <td>Swanson</td>
          <td>$300</td>
        </tr>
        <tr>
          <td>Cleveland</td>
          <td>Brown</td>
          <td>$250</td>
        </tr>
      </table>
    </div>
 
</body>
</html>