<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel = "stylesheet" href="/css/styles.css">
</head>


<body>
    <div class="topnav">
        <a class="active href="/">Home</a>
        <a href="/create"  >Creat User</a>
      </div>
      <div class= "table-container" >
        <%= JSON.stringify(ListUsers) %>
        <div class = "tilte"> List Users</div>
          
      <table>
        <tr>
          <th>ID</th>
          <th>Email</th>
          <th>Name</th>
          <th>City</th>
          <th>Action</th>
        </tr>
        <tr>
          <td>Peter</td>
          <td>Griffin</td>
          <td>$100</td>
          <td>$100</td>
          <td><button class="editbtn">edit</button>
            <button class="delbtn">Delete</button>
          </td>
        </tr>
        <tr>
          <td>Lois</td>
          <td>Griffin</td>
          <td>$150</td>
        </tr>
        <tr>
          <td>Joe</td>
          <td>Swanson</td>
          <td>$300</td>
        </tr>
        <tr>
          <td>Cleveland</td>
          <td>Brown</td>
          <td>$250</td>
        </tr>
      </table>
    </div>
 
</body>
</html>